.navbar-container {
    top: 0;
    opacity: 100;
    width: 100%;
    z-index: 2;
    background: linear-gradient(180deg, rgba(6,6,6,0.9598214285714286) 85%, rgba(0,0,0,0) 100%);
    position: fixed;
}


@keyframes introSlide {
    from {
        opacity: 0;
        
    } to {
        opacity: 100;
    }
}

.hidden {
    opacity: 0;
}

.navbar-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-item {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 100%;
}

.selected {
    animation: 0.5s blowUp forwards;
    color: aqua;
}

.selected::before {
    content: '<';
}

.selected::after {
    content: '/>';
    letter-spacing: 0.5px;
}

.selected::after, .selected::before {
    color: gray;
}

@keyframes blowUp {
    from {
        transform: scale(1);
    } to {
        transform: scale(1.2);
    }
}


.nav-show {
    animation: 1s slideIn forwards;
}

@keyframes slideIn {
    from {
        transform: translateY(-25px);
        padding-top: 15px;
    } to {
        transform: translateY(0px);
    }
}

.nav-sneak {
    animation: 0.5s sneakOut forwards; 
}

@keyframes sneakOut {
    from {
        transform: translateY(0px);
    } to {
        transform: translateY(-25px);
        padding-top: 15px;
    }
}