.navbar-container {
    top: 0;
    width: 100%;
    z-index: 2;
}

.fixed {
    position: fixed;
}

.hidden {
    display: hidden;
}

.navbar-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-item {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 100%;
}

.selected {
    animation: 1s blowUp forwards;
    color: aqua;
}

@keyframes blowUp {
    from {
        transform: scale(1);
    } to {
        transform: scale(1.2);
    }
}